/* Aquí solo quedarán los estilos globales y utilidades. El resto se moverá a los archivos correspondientes. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

.hidden {
    display: none;
}